{
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "impliedStrict": true
  },
  "rules": {
    "no-console": 0,
    "quotes": [2, "double", "avoid-escape"],
    "semi": [2, "always"]
  }
}
